body {
    margin: 0;
    background: #343A40;
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.text-one,
.text-two {
    font-size: 30px;
    letter-spacing: 0.6em;
}

.text-one,
.text-two {
    margin-left: 50px;
    color: #E9ECEF;
}

.text-one {
    margin-bottom: 140px;
}
  
.nav a {
    text-decoration: none;
    color: #E9ECEF;
}

.nav li {
    margin-left: 30px;
    font-size: 24px;
}
  
  