body {
    margin: 0;
    background: #343A40;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Mobil stående */
/* index.html */
.nav .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100px;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.text-two {
    font-size: 30px;
    letter-spacing: 0.6em;
}

.text-two {
    margin-left: 50px;
    color: #E9ECEF;
}

.text-one {
    margin-bottom: 80px;
}
  
.nav a {
    text-decoration: none;
    color: #E9ECEF;
}

.nav li {
    margin-left: 30px;
    font-size: 24px;
}

#designer {
    margin-left: 50px;
}

  
/* Om meg */
.about img {
    width: 112px;
    border-radius: 56px;
    margin-top: 40px;
}

.about h1 {
    color: #E9ECEF;
    font-size: 48px;
    margin-top: 70px;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.about-text {
    background: #C4C4C4;
    border-radius: 47px;
    text-align: center;

}

/* Prosjekter */
.container img {
    width: 360px;
    margin-bottom: 0;
}

.project {
    color: #E9ECEF;
    text-align: center;
    margin-top: 60px;
}

.container p {
    background: #C4C4C4;
    margin-top: 0;
    margin-bottom: 50px;
}

/* CV */


/* Pc */
@media (min-width: 1300px) {
    .nav {
        float: right;
        margin-right: 50px;
    }

    .text {
        display: grid;
       
    }

    
}