body {
    margin: 0;
    background: #343A40;
    font-family: 'Open Sans Condensed', sans-serif;
}

/* Mobil stående */
/* Hjem */
.animation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.title h1,
.title h2 {
    font-size: 50px;
    color: #E9ECEF;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;

}

.r-button{
  --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
  --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
  --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
  --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
  --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
  --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
  --uirButtonFontSize: var(--rButtonFontSize,  inherit);
  --uirButtonColor: var(--rButtonColor);

  background-color: var(--uirButtonBackgroundColor);
  padding: var(--uirButtonPadding);

  border-width: var(--uirButtonBorderWidth);
  border-style: var(--uirButtonBorderStyle);
  border-color: var(--uirButtonBorderColor);

  cursor: pointer;

  font-family: var(--uirButtonFontFamily);
  font-size: var(--uirButtonFontSize);
}

.r-button::-moz-focus-inner,
.r-button[type="button"]::-moz-focus-inner,
.r-button[type="reset"]::-moz-focus-inner,
.r-button[type="submit"]::-moz-focus-inner {
  
  border-style: none;
  padding: 0;
}

.r-link{
    --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
    --uirLinkTextColor: var(--rLinkTextColor);
    --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

    display: var(--uirLinkDisplay) !important;
    color: var(--uirLinkTextColor) !important;
    text-decoration: var(--uirLinkTextDecoration) !important;
}

.r-list{
    --uirListPaddingLeft: var(--rListPaddingLeft, 0);
    --uirListMarginTop: var(--rListMarginTop, 0);
    --uirListMarginBottom: var(--rListMarginBottom, 0);
    --uirListListStyle: var(--rListListStyle, none);

    padding-left: var(--uirListPaddingLeft) !important;
    margin-top: var(--uirListMarginTop) !important;
    margin-bottom: var(--uirListMarginBottom) !important;
    list-style: var(--uirListListStyle) !important;
}

.m-hamburger{  
  --uiHamburgerThickness: var(--hamburgerThickness, 4px);

  display: var(--hamburgerDisplay, inline-flex);
  width: var(--hamburgerWidth, 28px);
  height: var(--hamburgerHeight, 20px);

  position: relative;
}

.m-hamburger::before, 
.m-hamburger::after, 
.m-hamburger__label{
  width: 100%;
  height: var(--uiHamburgerThickness);
  border-radius: var(--hamburgerBorderRadius, 5px);
  background-color: var(--hamburgerBackgroundColor, currentColor);

  position: absolute;
  left: 0;
}

.m-hamburger::before, 
.m-hamburger::after{
  content:"";
}

.m-hamburger::before{
  top: 0;
}

.m-hamburger::after{
  bottom: 0;
}

.m-hamburger__label{
  
  top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
}

.screen-reader{
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;

  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}

.menu{
  --uiMenuCircleSize: var(--menuCircleSize, 6.25rem);
  --uiMenuCircleOffset: var(--menuCircleOffset, 1rem);
  --uiMenuCircleHeight: calc(var(--uiMenuCircleSize) / 2);  
  --uiMenuCircleBackgroundColor: var(--menuCircleBackgroundColor, currentColor);

  --uiMenuHamburgerWidth: var(--menuHamburgerWidth, 1.75rem);
  --uiMenuHamburgerHeight: var(--menuHamburgerHeight, 1.25rem);
  
  --rButtonPaddingTop: calc(var(--uiMenuCircleHeight) - var(--uiMenuHamburgerHeight) - var(--uiMenuCircleOffset));
  
  --hamburgerWidth: var(--uiMenuHamburgerWidth);
  --hamburgerHeight: var(--uiMenuHamburgerHeight);
  --hamburgerBackgroundColor: var(--menuHamburgerBackgroundColor, #fff);

  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;  

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--menuZindex, 9998);
}

.menu__nav{
  box-sizing: border-box;
  width: 100%;
  height: 0;

  transition: opacity .2s ease-out;
  opacity: 0;

  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.menu__list{
  width: 100%;
  max-height: 100%;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__toggle{
  box-sizing: border-box;
  width: var(--uiMenuCircleSize);
  height: var(--uiMenuCircleHeight);
  flex: none;

  position: relative;
}

.menu__toggle::before{
  content: "";
  width: 1em;
  height: 1em;
  font-size: var(--uiMenuCircleSize); /* 1 */

  background-color: var(--uiMenuCircleBackgroundColor);
  border-radius: 50%;

  position: absolute;
  bottom: -.5em; /* 2 */
  left: calc(50% - .5em);
  z-index: -1;

  will-change: width, height;
  transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
              width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
              height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

/* styles of hamburger's animation */

.m-hamburger::before, 
.m-hamburger::after, 
.m-hamburger__label{
  transition-timing-function: ease;
  transition-duration: .15s;  
}

.m-hamburger::before, 
.m-hamburger::after{
  transition-property: transform;
}

.m-hamburger__label{
  transition-property: transform, opacity;
}

.menu__toggle:focus{
  outline: var(--menuHaburgerOutlineOWidth, 2px) solid var(--menuHaburgerOutlineColor);
  outline-offset: var(--menuHaburgerOutlineOffset, 5px);
}

.menu_activated{
  height: 100%;
}

.menu_activated .menu__nav{
  flex-grow: 1;
  opacity: 1;

  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
}

.menu_activated .menu__toggle::before{
  width: 100vmax;
  height: 100vmax;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
  transition-duration: 1s;
}

.menu:not(.menu_activated) .menu__list{
  display: none;
}

.menu_activated .m-hamburger::before{
  top: 50%;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.menu_activated .m-hamburger::after{
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.menu_activated .m-hamburger__label{
  transform: rotate(-45deg) translate3d(-.285em,-.3em, 0);
  opacity: 0;
}

:root{
  --colorWhite: #fff;
  --colorMain: #B29057;
  --menuCircleBackgroundColor: var(--colorMain);
  --menuHamburgerBackgroundColor: var(--colorWhite);
  --menuHaburgerOutlineColor: var(--colorMain);
}

a {
    font-size: 48px;
}

li {
    text-align: center;
    margin: 45px;
}

.menu_activated{
  --menuHaburgerOutlineColor: var(--colorWhite);
}

  
/* Om meg */
.about img {
    width: 112px;
    border-radius: 56px;
    margin-top: 40px;
}

.about h1 {
    color: #E9ECEF;
    font-size: 48px;
    margin-top: 70px;
}

.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.about-text {
    background: #C4C4C4;
    border-radius: 25px;
    text-align: center;

}

/* Prosjekter */
.project {
    color: #E9ECEF;
    text-align: center;
    margin-top: 60px;
}

.container p {
    background: #C4C4C4;
    margin-bottom: 60px;
    border-radius: 25px;
}

img {
    width: 350px;
    margin-bottom: 20px;
    border-radius: 25px;
}

a {
    background: #B29057;
    color: #333;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}

/* CV */
.work .work-one,
.school .school-one {
    font-size: 3rem;
    color: #E9ECEF;
    text-align: center;
}

.work p,
.school p {
    font-size: 1.6rem;
    color: #E9ECEF;
    text-align: center;
    border-bottom: 2px solid #B29057;
    margin: 50px;
}

.work p:last-child,
.school p:last-child,
.work .work-one,
.school .school-one {
    border: none;
}

@media (min-width: 1300px) {
    /* Prosjekt */
    .title {
        margin-top: 70px;
    }

    img {
        width: 650px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 50px;
    }

    .c-one {
        display: flex;
        flex-direction: row;
    }

    .c-one p,
    .c-one a {
        text-align: center;
        font-size: 20px;
    }

    .c-one p {
      width: 850px;
      height: 300px;
      padding: 50px;
    }

    a {
        background: #B29057;
        color: #333;
        text-decoration: none;
        border-radius: 50%;
        padding-left: 100px;
        padding-right: 100px;
    }

    .c-one p {
        margin-right: 20px;
    }

    .project {
        font-size: 40px;
    }

    /* Om meg */
    .about img {
        width: 300px;
        margin-left: 40px;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }

    .about-text {
        font-size: 20px;
        margin-right: 50px;
        margin-left: 50px;
        padding: 20px;
    }

    .work,
    .school {
        width: 30%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}
